@using ShareModel.Custom
@layout Layout_Null
@using Radzen

    <div class="section__content section__content--p30">
        <div>
            @if(room.RoomId != 0)
            {
                <h4 style="text-align:justify;-webkit-user-modify: read-write-plaintext-only;">@room.RoomDescription</h4>
            }
        </div>
    </div>


@code {
    [Parameter]
    public int id{ get; set; }

    Room room = new Room();
    RoomService roomService = new RoomService();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            room = await roomService.GetRoom(id);
            StateHasChanged();
        }
    }
}
