@page "/typeofroom/create"
@using ShareModel.Custom
@layout Layout_Owner


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container w-75">
            <div class="row">
                <div class="col">
                    <RadzenTemplateForm TItem="Typeofroom_Custom" Data=@typeofroom>
                        <RadzenFieldset Text="Thêm mới Loại phòng">
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Tên loại phòng</RadzenText>
                                </div>
                                <div class="col">
                                    <RadzenTextBox style="display: block" Placeholder="Nhập tên loại phòng" Name="TorName" @bind-Value=@typeofroom.TorName  Class="w-100" AutoComplete="false" />
                                    <RadzenRequiredValidator Component="TorName" Text="Vui lòng nhập tên loại phòng" Popup="true" Style="position: absolute"/>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Giá</RadzenText>
                                </div>
                                <div class="col">
                                    <RadzenNumeric style="display: block" Placeholder="Nhập giá tiền" Name="TorPrice" @bind-Value=@typeofroom.TorPrice  Class="w-100" AutoComplete="false" />
                                    <RadzenRequiredValidator Component="TorPrice" Text="Vui lòng nhập giá tiền" Popup="true" Style="position: absolute"/>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Sức chứa</RadzenText>
                                </div>
                                <div class="col">
                                    <RadzenNumeric style="display: block" Placeholder="Nhập sức chứa của phòng" Name="TorCapacity" @bind-Value=@typeofroom.TorCapacity  Class="w-100" AutoComplete="false" />
                                    <RadzenRequiredValidator Component="TorCapacity" Text="Vui lòng nhập sức chứa của phòng" Popup="true" Style="position: absolute"/>
                                </div>
                            </div>
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Thêm loại phòng" Click="AddTOR"></RadzenButton>
                        </RadzenFieldset>
                    </RadzenTemplateForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    Typeofroom_Custom typeofroom = new Typeofroom_Custom();
    User owner = new User();

    TypeOfRoomService typeOfRoomService = new TypeOfRoomService();
    UserService userService = new UserService();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var phone = await sessionStorage.GetItemAsync<string>("owner_phone");
            owner = await userService.GetUser(phone);
        }
    }
    protected async void AddTOR()
    {
        if(typeofroom.TorName != null && typeofroom.TorPrice != null && typeofroom.TorCapacity != null)
        {
            typeofroom.UserPhone = owner.UserPhone;
            var res = await typeOfRoomService.AddTOR(typeofroom);
            if(res != null)
            {
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Thành công", Detail = "Thêm thành công", Duration = 4000 });
                NavigationManager.NavigateTo("/typeofroom/index");
            }
        }
    }
}
