@page "/floor/edit/{id:int}"
@using ShareModel.Custom
@layout Layout_Owner


<div>
    <div class="section__content section__content--p30">
        <div class="container">
            <div class="row">
                <div class="col">
                    <RadzenTemplateForm TItem="Floor" Data=@floor>
                        <RadzenFieldset Text="Chỉnh sửa thông tin tầng">
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Chọn Khách sạn</RadzenText>
                                </div>
                                <div class="col">
                                    <RadzenDropDown TValue="int?" Class="w-100" 
                                        AllowFiltering="true" Data=@hotels TextProperty="HotelName" ValueProperty="HotelId"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="floor.HotelId" 
                                        />
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Tên tầng</RadzenText>
                                </div>
                                <div class="col">
                                    <RadzenTextBox style="display: block" Placeholder="Nhập tên của tầng" Name="FloorName" @bind-Value=@floor.FloorName  Class="w-100" AutoComplete="false" />
                                    <RadzenRequiredValidator Component="FloorName" Text="Vui lòng nhập tên của tầng" Popup="true" Style="position: absolute"/>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4">
                                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Nhập mô tả của tầng</RadzenText>
                                </div>
                                <div class="col">
                                    <RadzenTextArea style="display: block" Placeholder="Nhập mô tả của tầng" Name="FloorName" @bind-Value=@floor.FloorDescription  Class="w-100" AutoComplete="false" />
                                </div>
                            </div>
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Cập nhật" Click="UpdateFloor"></RadzenButton>
                        </RadzenFieldset>
                    </RadzenTemplateForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    Floor floor = new Floor();
    User owner = new User();
    List<Hotel> hotels = new List<Hotel>();

    FloorService floorService = new FloorService();
    UserService userService = new UserService();
    HotelService hotelService = new HotelService();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var phone = await sessionStorage.GetItemAsync<string>("owner_phone");
            owner = await userService.GetUser(phone);
            hotels = await hotelService.GetAllHotelOfOwner(owner.UserPhone);
            floor = await floorService.GetFloor(id);
            StateHasChanged();
        }
    }
    protected async void UpdateFloor()
    {
        if(floor.FloorName != null && floor.HotelId != null)
        {
            var res = await floorService.UpdateFloor(floor);
            if(res == 1)
            {
               NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Thành công", Detail = "Cập nhật thành công", Duration = 4000 });
                this.DialogService.Close(res);
            }
        }
    }
}
