<table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>(+84) 366037245</td>
                    <td>Võ Văn Nhân</td>
                    <td>vovannhan2727bc@gmail.com</td>
                </tr>
            </tbody>
        </table>

