 <div>
    <RadzenCard>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Range Slider with negative values</RadzenText>
        <RadzenSlider Range="true" Min="-100" Max="100" TValue="IEnumerable<int>" Class="w-100" />
    </RadzenCard>
</div>

@code {

}
