<ul style="list-style-type:circle">
  <li>Vui lòng kiểm tra thông tin trước khi đặt phòng</li>
  <li>Hiện tại hệ thống chưa hỗ trợ hoàn tiền. Nên vui lòng cân nhắc khi chọn hình thức thanh toán trực tuyến</li>
</ul>